
#Question 1 Part a

In [1]:
#importing packages...
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report,confusion_matrix
import pandas as pd
#importing dataset....
data_set=pd.read_csv("bank.csv",sep=';')
df=pd.DataFrame(data_set)
print(df)

      age            job   marital  education default  balance housing loan  \
0      30     unemployed   married    primary      no     1787      no   no
1      33       services   married  secondary      no     4789     yes  yes
2      35     management    single   tertiary      no     1350     yes   no
3      30     management   married   tertiary      no     1476     yes  yes
4      59    blue-collar   married  secondary      no        0     yes   no
5      35     management    single   tertiary      no      747      no   no
6      36  self-employed   married   tertiary      no      307     yes   no
7      39     technician   married  secondary      no      147     yes   no
8      41   entrepreneur   married   tertiary      no      221     yes   no
9      43       services   married    primary      no      -88     yes  yes
10     39       services   married  secondary      no     9374     yes   no
11     43         admin.   married  secondary      no      264     yes   no
12     36     technician   married   tertiary      no     1109      no   no
13     20        student    single  secondary      no      502      no   no
14     31    blue-collar   married  secondary      no      360     yes  yes
15     40     management   married   tertiary      no      194      no  yes
16     56     technician   married  secondary      no     4073      no   no
17     37         admin.    single   tertiary      no     2317     yes   no
18     25    blue-collar    single    primary      no     -221     yes   no
19     31       services   married  secondary      no      132      no   no
20     38     management  divorced    unknown      no        0     yes   no
21     42     management  divorced   tertiary      no       16      no   no
22     44       services    single  secondary      no      106      no   no
23     44   entrepreneur   married  secondary      no       93      no   no
24     26      housemaid   married   tertiary      no      543      no   no
25     41     management   married   tertiary      no     5883      no   no
26     55    blue-collar   married    primary      no      627     yes   no
27     67        retired   married    unknown      no      696      no   no
28     56  self-employed   married  secondary      no      784      no  yes
29     53         admin.   married  secondary      no      105      no  yes
...   ...            ...       ...        ...     ...      ...     ...  ...
4491   35    blue-collar    single  secondary      no        0     yes   no
4492   32     technician    single  secondary      no      309     yes  yes
4493   28     technician    single   tertiary      no        0     yes   no
4494   26     technician    single  secondary      no      668     yes   no
4495   48     management   married   tertiary      no     1175     yes   no
4496   30    blue-collar    single  secondary      no      363      no   no
4497   31   entrepreneur    single   tertiary      no       38      no   no
4498   31     management   married   tertiary      no     1183     yes   no
4499   45    blue-collar  divorced    primary      no      942      no   no
4500   38         admin.   married  secondary      no     4196     yes   no
4501   34     management   married   tertiary      no      297     yes   no
4502   42       services   married  secondary      no      -91     yes  yes
4503   60  self-employed   married    primary      no      362      no  yes
4504   42    blue-collar    single  secondary      no     1080     yes  yes
4505   32         admin.    single  secondary      no      620     yes   no
4506   42     unemployed  divorced   tertiary      no     -166      no   no
4507   33       services   married  secondary      no      288     yes   no
4508   42         admin.   married    unknown      no      642     yes  yes
4509   51     technician   married   tertiary      no     2506      no   no
4510   36     technician  divorced  secondary      no      566     yes   no
4511   46    blue-collar   married  secondary      no      668     yes   no
4512   40    blue-collar   married  secondary      no     1100     yes   no
4513   49    blue-collar   married  secondary      no      322      no   no
4514   38    blue-collar   married  secondary      no     1205     yes   no
4515   32       services    single  secondary      no      473     yes   no
4516   33       services   married  secondary      no     -333     yes   no
4517   57  self-employed   married   tertiary     yes    -3313     yes  yes
4518   57     technician   married  secondary      no      295      no   no
4519   28    blue-collar   married  secondary      no     1137      no   no
4520   44   entrepreneur    single   tertiary      no     1136     yes  yes

        contact  day month  duration  campaign  pdays  previous poutcome    y
0      cellular   19   oct        79         1     -1         0  unknown   no
1      cellular   11   may       220         1    339         4  failure   no
2      cellular   16   apr       185         1    330         1  failure   no
3       unknown    3   jun       199         4     -1         0  unknown   no
4       unknown    5   may       226         1     -1         0  unknown   no
5      cellular   23   feb       141         2    176         3  failure   no
6      cellular   14   may       341         1    330         2    other   no
7      cellular    6   may       151         2     -1         0  unknown   no
8       unknown   14   may        57         2     -1         0  unknown   no
9      cellular   17   apr       313         1    147         2  failure   no
10      unknown   20   may       273         1     -1         0  unknown   no
11     cellular   17   apr       113         2     -1         0  unknown   no
12     cellular   13   aug       328         2     -1         0  unknown   no
13     cellular   30   apr       261         1     -1         0  unknown  yes
14     cellular   29   jan        89         1    241         1  failure   no
15     cellular   29   aug       189         2     -1         0  unknown   no
16     cellular   27   aug       239         5     -1         0  unknown   no
17     cellular   20   apr       114         1    152         2  failure   no
18      unknown   23   may       250         1     -1         0  unknown   no
19     cellular    7   jul       148         1    152         1    other   no
20     cellular   18   nov        96         2     -1         0  unknown   no
21     cellular   19   nov       140         3     -1         0  unknown   no
22      unknown   12   jun       109         2     -1         0  unknown   no
23     cellular    7   jul       125         2     -1         0  unknown   no
24     cellular   30   jan       169         3     -1         0  unknown   no
25     cellular   20   nov       182         2     -1         0  unknown   no
26      unknown    5   may       247         1     -1         0  unknown   no
27    telephone   17   aug       119         1    105         2  failure   no
28     cellular   30   jul       149         2     -1         0  unknown   no
29     cellular   21   aug        74         2     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4491   cellular   16   apr       169         1     -1         0  unknown   no
4492   cellular   16   apr       346         1    234         3  failure   no
4493    unknown    4   jun       205         6     -1         0  unknown   no
4494    unknown   28   may       576         3     -1         0  unknown  yes
4495  telephone   18   nov      1476         3     -1         0  unknown   no
4496   cellular   28   jul       171         3     -1         0  unknown   no
4497   cellular   20   nov       185         2     -1         0  unknown   no
4498    unknown   27   may       676         6     -1         0  unknown   no
4499   cellular   21   nov       362         1     -1         0  unknown   no
4500   cellular   12   may       193         2     -1         0  unknown   no
4501   cellular   26   aug        63         4     -1         0  unknown   no
4502   cellular    5   feb        43         1     -1         0  unknown   no
4503   cellular   29   jul       816         6     -1         0  unknown  yes
4504   cellular   13   may       951         3    370         4  failure  yes
4505    unknown   26   may      1234         3     -1         0  unknown  yes
4506   cellular   29   aug        85         4     -1         0  unknown   no
4507   cellular   17   apr       306         1     -1         0  unknown   no
4508    unknown   16   may       509         2     -1         0  unknown   no
4509   cellular   30   nov       210         3     -1         0  unknown   no
4510    unknown   20   may       129         2     -1         0  unknown   no
4511    unknown   15   may      1263         2     -1         0  unknown  yes
4512    unknown   29   may       660         2     -1         0  unknown   no
4513   cellular   14   aug       356         2     -1         0  unknown   no
4514   cellular   20   apr        45         4    153         1  failure   no
4515   cellular    7   jul       624         5     -1         0  unknown   no
4516   cellular   30   jul       329         5     -1         0  unknown   no
4517    unknown    9   may       153         1     -1         0  unknown   no
4518   cellular   19   aug       151        11     -1         0  unknown   no
4519   cellular    6   feb       129         4    211         3    other   no
4520   cellular    3   apr       345         2    249         7    other   no

[4521 rows x 17 columns]

In [2]:
print('A look at the data')
print(df.head(),'\n')

print ('Number of columns and rows of the data ')
print(df.shape,'\n')

print ('Description of the data')
print(df.describe(),'\n')

print ('Types of data values')
print(df.dtypes, '\n')

#identify nans
def num_missing(x):
    return sum(x.isnull())
#Applying per column:
print ("Missing values per column:")
print (df.apply(num_missing, axis=0),'\n')

A look at the data
   age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no

Number of columns and rows of the data
(4521, 17)

Description of the data
               age       balance          day     duration     campaign  \
count  4521.000000   4521.000000  4521.000000  4521.000000  4521.000000
mean     41.170095   1422.657819    15.915284   263.961292     2.793630
std      10.576211   3009.638142     8.247667   259.856633     3.109807
min      19.000000  -3313.000000     1.000000     4.000000     1.000000
25%      33.000000     69.000000     9.000000   104.000000     1.000000
50%      39.000000    444.000000    16.000000   185.000000     2.000000
75%      49.000000   1480.000000    21.000000   329.000000     3.000000
max      87.000000  71188.000000    31.000000  3025.000000    50.000000

             pdays     previous
count  4521.000000  4521.000000
mean     39.766645     0.542579
std     100.121124     1.693562
min      -1.000000     0.000000
25%      -1.000000     0.000000
50%      -1.000000     0.000000
75%      -1.000000     0.000000
max     871.000000    25.000000

Types of data values
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

Missing values per column:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [3]:
#Converting categorical values to numerical values using label encoder
le=LabelEncoder()
# Iterating over all the common columns in train and test
for col in df.columns.values:
       # Encoding only categorical variables
    if df[col].dtypes=='object':
       # Using whole data to form an exhaustive list of levels
        data=df[col].append(df[col])
        le.fit(data.values)
        df[col]=le.transform(df[col])
print(df)

      age  job  marital  education  default  balance  housing  loan  contact  \
0      30   10        1          0        0     1787        0     0        0
1      33    7        1          1        0     4789        1     1        0
2      35    4        2          2        0     1350        1     0        0
3      30    4        1          2        0     1476        1     1        2
4      59    1        1          1        0        0        1     0        2
5      35    4        2          2        0      747        0     0        0
6      36    6        1          2        0      307        1     0        0
7      39    9        1          1        0      147        1     0        0
8      41    2        1          2        0      221        1     0        2
9      43    7        1          0        0      -88        1     1        0
10     39    7        1          1        0     9374        1     0        2
11     43    0        1          1        0      264        1     0        0
12     36    9        1          2        0     1109        0     0        0
13     20    8        2          1        0      502        0     0        0
14     31    1        1          1        0      360        1     1        0
15     40    4        1          2        0      194        0     1        0
16     56    9        1          1        0     4073        0     0        0
17     37    0        2          2        0     2317        1     0        0
18     25    1        2          0        0     -221        1     0        2
19     31    7        1          1        0      132        0     0        0
20     38    4        0          3        0        0        1     0        0
21     42    4        0          2        0       16        0     0        0
22     44    7        2          1        0      106        0     0        2
23     44    2        1          1        0       93        0     0        0
24     26    3        1          2        0      543        0     0        0
25     41    4        1          2        0     5883        0     0        0
26     55    1        1          0        0      627        1     0        2
27     67    5        1          3        0      696        0     0        1
28     56    6        1          1        0      784        0     1        0
29     53    0        1          1        0      105        0     1        0
...   ...  ...      ...        ...      ...      ...      ...   ...      ...
4491   35    1        2          1        0        0        1     0        0
4492   32    9        2          1        0      309        1     1        0
4493   28    9        2          2        0        0        1     0        2
4494   26    9        2          1        0      668        1     0        2
4495   48    4        1          2        0     1175        1     0        1
4496   30    1        2          1        0      363        0     0        0
4497   31    2        2          2        0       38        0     0        0
4498   31    4        1          2        0     1183        1     0        2
4499   45    1        0          0        0      942        0     0        0
4500   38    0        1          1        0     4196        1     0        0
4501   34    4        1          2        0      297        1     0        0
4502   42    7        1          1        0      -91        1     1        0
4503   60    6        1          0        0      362        0     1        0
4504   42    1        2          1        0     1080        1     1        0
4505   32    0        2          1        0      620        1     0        2
4506   42   10        0          2        0     -166        0     0        0
4507   33    7        1          1        0      288        1     0        0
4508   42    0        1          3        0      642        1     1        2
4509   51    9        1          2        0     2506        0     0        0
4510   36    9        0          1        0      566        1     0        2
4511   46    1        1          1        0      668        1     0        2
4512   40    1        1          1        0     1100        1     0        2
4513   49    1        1          1        0      322        0     0        0
4514   38    1        1          1        0     1205        1     0        0
4515   32    7        2          1        0      473        1     0        0
4516   33    7        1          1        0     -333        1     0        0
4517   57    6        1          2        1    -3313        1     1        2
4518   57    9        1          1        0      295        0     0        0
4519   28    1        1          1        0     1137        0     0        0
4520   44    2        2          2        0     1136        1     1        0

      day  month  duration  campaign  pdays  previous  poutcome  y
0      19     10        79         1     -1         0         3  0
1      11      8       220         1    339         4         0  0
2      16      0       185         1    330         1         0  0
3       3      6       199         4     -1         0         3  0
4       5      8       226         1     -1         0         3  0
5      23      3       141         2    176         3         0  0
6      14      8       341         1    330         2         1  0
7       6      8       151         2     -1         0         3  0
8      14      8        57         2     -1         0         3  0
9      17      0       313         1    147         2         0  0
10     20      8       273         1     -1         0         3  0
11     17      0       113         2     -1         0         3  0
12     13      1       328         2     -1         0         3  0
13     30      0       261         1     -1         0         3  1
14     29      4        89         1    241         1         0  0
15     29      1       189         2     -1         0         3  0
16     27      1       239         5     -1         0         3  0
17     20      0       114         1    152         2         0  0
18     23      8       250         1     -1         0         3  0
19      7      5       148         1    152         1         1  0
20     18      9        96         2     -1         0         3  0
21     19      9       140         3     -1         0         3  0
22     12      6       109         2     -1         0         3  0
23      7      5       125         2     -1         0         3  0
24     30      4       169         3     -1         0         3  0
25     20      9       182         2     -1         0         3  0
26      5      8       247         1     -1         0         3  0
27     17      1       119         1    105         2         0  0
28     30      5       149         2     -1         0         3  0
29     21      1        74         2     -1         0         3  0
...   ...    ...       ...       ...    ...       ...       ... ..
4491   16      0       169         1     -1         0         3  0
4492   16      0       346         1    234         3         0  0
4493    4      6       205         6     -1         0         3  0
4494   28      8       576         3     -1         0         3  1
4495   18      9      1476         3     -1         0         3  0
4496   28      5       171         3     -1         0         3  0
4497   20      9       185         2     -1         0         3  0
4498   27      8       676         6     -1         0         3  0
4499   21      9       362         1     -1         0         3  0
4500   12      8       193         2     -1         0         3  0
4501   26      1        63         4     -1         0         3  0
4502    5      3        43         1     -1         0         3  0
4503   29      5       816         6     -1         0         3  1
4504   13      8       951         3    370         4         0  1
4505   26      8      1234         3     -1         0         3  1
4506   29      1        85         4     -1         0         3  0
4507   17      0       306         1     -1         0         3  0
4508   16      8       509         2     -1         0         3  0
4509   30      9       210         3     -1         0         3  0
4510   20      8       129         2     -1         0         3  0
4511   15      8      1263         2     -1         0         3  1
4512   29      8       660         2     -1         0         3  0
4513   14      1       356         2     -1         0         3  0
4514   20      0        45         4    153         1         0  0
4515    7      5       624         5     -1         0         3  0
4516   30      5       329         5     -1         0         3  0
4517    9      8       153         1     -1         0         3  0
4518   19      1       151        11     -1         0         3  0
4519    6      3       129         4    211         3         1  0
4520    3      0       345         2    249         7         1  0

[4521 rows x 17 columns]

In [4]:
#Seperating the target variable
array=df.values
#the dataset without the  column: 'y'
X=array[:,0:16]
print("X")
print(X)
#the target column: y
Y=array[:,16]
print("Y")
print(Y)

X
[[ 30  10   1 ...  -1   0   3]
 [ 33   7   1 ... 339   4   0]
 [ 35   4   2 ... 330   1   0]
 ...
 [ 57   9   1 ...  -1   0   3]
 [ 28   1   1 ... 211   3   1]
 [ 44   2   2 ... 249   7   1]]
Y
[0 0 0 ... 0 0 0]

In [5]:
#Splitting train and test data using stratified split
X_train, X_test, Y_train, Y_test = train_test_split(X , Y, test_size=0.3, random_state = 2000,stratify=Y)
#print(Y_test.shape)

In [6]:
#Applying standard scalar (Data is coverted so that mean=0 and SD=1)
scaler = StandardScaler()
scaler.fit(X_train)
scaler.fit(X_test)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [7]:
#Splitting data for training into training and validation sets
X_tr,X_val,Y_tr,Y_val= train_test_split(X_train,Y_train,test_size=0.2, random_state = 2000,shuffle=True)

In [8]:
#Different classifiers used..
classifiers = [
    KNeighborsClassifier(3),
    SVC(),
    DecisionTreeClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis()]

In [9]:
print("***After training...***")
for clf in classifiers:
    clf.fit(X_tr,Y_tr)
    
    name = clf.__class__.__name__
    print("***",name,"***")
    predictions = clf.predict(X_val)
    #Train accuracy
    ac_tr=accuracy_score(Y_tr,clf.predict(X_tr))
    print("Training accuracy:",ac_tr*100,"%")
    #Validation accuracy
   
    ac_val=accuracy_score(Y_val, predictions)
    print("Validation score:",ac_val*100,"%")
    print(confusion_matrix(Y_val,predictions))
    print(classification_report(Y_val,predictions))

***After training...***
*** KNeighborsClassifier ***
Training accuracy: 92.80916633741604 %
Validation score: 86.57187993680886 %
[[534  19]
 [ 66  14]]
             precision    recall  f1-score   support

          0       0.89      0.97      0.93       553
          1       0.42      0.17      0.25        80

avg / total       0.83      0.87      0.84       633

*** SVC ***
Training accuracy: 91.54484393520347 %
Validation score: 87.51974723538704 %
[[545   8]
 [ 71   9]]
             precision    recall  f1-score   support

          0       0.88      0.99      0.93       553
          1       0.53      0.11      0.19        80

avg / total       0.84      0.88      0.84       633

*** DecisionTreeClassifier ***
Training accuracy: 100.0 %
Validation score: 84.67614533965245 %
[[502  51]
 [ 46  34]]
             precision    recall  f1-score   support

          0       0.92      0.91      0.91       553
          1       0.40      0.42      0.41        80

avg / total       0.85      0.85      0.85       633

*** GaussianNB ***
Training accuracy: 83.91939944685895 %
Validation score: 82.46445497630332 %
[[491  62]
 [ 49  31]]
             precision    recall  f1-score   support

          0       0.91      0.89      0.90       553
          1       0.33      0.39      0.36        80

avg / total       0.84      0.82      0.83       633

*** LinearDiscriminantAnalysis ***
Training accuracy: 89.56934018174636 %
Validation score: 86.88783570300158 %
[[528  25]
 [ 58  22]]
             precision    recall  f1-score   support

          0       0.90      0.95      0.93       553
          1       0.47      0.28      0.35        80

avg / total       0.85      0.87      0.85       633

In [10]:
print("***After training...***")
for clf in classifiers:
    name = clf.__class__.__name__
    print("***",name,"***")
    predictions = clf.predict(X_test)

    ac_test=accuracy_score(Y_test, predictions)
    print("Testing accuracy:",ac_test*100,"%")
    print(confusion_matrix(Y_test,predictions))
    print(classification_report(Y_test,predictions))

***After training...***
*** KNeighborsClassifier ***
Testing accuracy: 89.240972733972 %
[[1171   30]
 [ 116   40]]
             precision    recall  f1-score   support

          0       0.91      0.98      0.94      1201
          1       0.57      0.26      0.35       156

avg / total       0.87      0.89      0.87      1357

*** SVC ***
Testing accuracy: 89.31466470154753 %
[[1184   17]
 [ 128   28]]
             precision    recall  f1-score   support

          0       0.90      0.99      0.94      1201
          1       0.62      0.18      0.28       156

avg / total       0.87      0.89      0.87      1357

*** DecisionTreeClassifier ***
Testing accuracy: 84.3036109064112 %
[[1074  127]
 [  86   70]]
             precision    recall  f1-score   support

          0       0.93      0.89      0.91      1201
          1       0.36      0.45      0.40       156

avg / total       0.86      0.84      0.85      1357

*** GaussianNB ***
Testing accuracy: 84.0825350036846 %
[[1066  135]
 [  81   75]]
             precision    recall  f1-score   support

          0       0.93      0.89      0.91      1201
          1       0.36      0.48      0.41       156

avg / total       0.86      0.84      0.85      1357

*** LinearDiscriminantAnalysis ***
Testing accuracy: 88.7988209285188 %
[[1163   38]
 [ 114   42]]
             precision    recall  f1-score   support

          0       0.91      0.97      0.94      1201
          1       0.53      0.27      0.36       156

avg / total       0.87      0.89      0.87      1357